/*******************************************************************************************************************
css code for index.html
*******************************************************************************************************************/
body,
.contact-body,
.index-body,
.northern-lights-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.index-body,
.northern-lights-body,
.hiking-body {
  margin: 0;
  background-color: #292e38;
  color: rgb(202, 197, 197);
}

.block1and2-background {
  background-image: url("./images/photos/The-Blue-Lagoon-Iceland.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  margin-bottom: 5%;
}

.block1 > img {
  width: 15%;
  height: 150px;
  box-shadow: 3px 3px 4px rgb(180, 179, 179);
  border-radius: 7px;
  filter: opacity(70%);
}

hr {
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid #33373f;
  width: 100%;
}

.black-line {
  border: 1px solid black;
  width: 100%;
}

.pic2 {
  margin-left: 69%;
}

.block2 {
  width: 100%;
  height: 100%;
}

.block2 > h1 {
  color: rgb(255, 255, 255);
  font-size: 455%;
  text-shadow: 0px 0px 3px whitesmoke;
  letter-spacing: 5px;
}

.block2 > h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 3px whitesmoke;
}

.block2 > p {
  color: white;
  text-align: center;
  font-size: 25px;
  width: 70%;
  margin-left: 15%;
  line-height: 125%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.block2 > h1,
.block3-h3 {
  text-align: center;
}

.block3 {
  height: 100%;
  border: 2px solid rgb(34, 123, 158);
  border-radius: 25px;
  width: 80%;
  margin: auto;
  background-color: #35373a;
  box-shadow: 2px 2px 3px rgb(47, 133, 104);
  margin-bottom: 5%;
  transition: transform 0.5s ease;
}

#block3 {
  height: 280px;
}

.block3-h3,
.block4 > h3 {
  font-size: 30px;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.block3 > figure {
  width: 30%;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  height: 90%;
}

.block3 > figure > figcaption {
  text-align: center;
}

.block3 > .fig1 {
  float: left;
}

.pic3,
.pic4 {
  width: 100%;
  border-radius: 10%;
  height: 100%;
}

.block3:hover,
.block4 > ul > li > a > figure:hover,
tr:hover,
.contact-nav-button:hover,
.contact-form-button:hover,
.contact-form > form > input:hover,
.contact-form > form > textarea:hover,
.pic5:hover,
.pic6:hover,
.pic7:hover,
.northern-lights-block1 > img:hover,
.hiking-block1 > img:hover,
.northern-lights-block1 > .northern-lights-p1:hover,
.hiking-block1 > .hiking-p1:hover,
.northern-lights-block2:hover,
.hiking-block2:hover {
  transform: scale(1.1);
}

.block3:hover {
  box-shadow: 5px 5px 5px rgb(47, 133, 104);
}

.block3 > p {
  width: 50%;
  text-align: left;
  line-height: 150%;
  font-size: 16px;
}

.block3 > .p1 {
  margin-left: 45%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.block3 > .p2 {
  margin-top: 20%;
  margin-left: 3%;
}

.block3 > .fig2 {
  position: relative;
  margin-left: 64%;
  margin-top: -20%;
  margin-right: 5%;
}

.block4 {
  margin-top: 200px;
  text-align: center;
  height: 700px;
}

.block4 > ul {
  list-style: none;
}

.block4 > ul > li > a > figure {
  width: 23%;
  height: 450px;
  border-radius: 25px;
  transition: transform 0.5s ease;
  background-image: linear-gradient(
    to right,
    rgb(168, 65, 5),
    rgb(182, 101, 9)
  );
  box-shadow: 3px 3px 3px rgb(194, 155, 139);
  float: left;
  margin-left: 12%;
  margin-right: 12%;
}

#block4-fig2 {
  background-image: linear-gradient(
    to right,
    rgb(5, 168, 68),
    rgb(179, 182, 9)
  );
}

.block4 > ul > li > a > figure:hover {
  box-shadow: 5px 5px 5px rgb(180, 179, 179);
}

.block4 > ul > li > a > figure > img {
  width: 100%;
  height: 80%;
  border-radius: 25px;
}

.block4 > ul > li > a > figure > figcaption {
  padding-top: 10%;
  color: rgb(240, 236, 236);
  font-size: 24px;
  text-shadow: 0px 0px 2px whitesmoke;
}

.block4 > ul > li > a {
  text-decoration: none;
}

.block5 {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #35373a;
  padding-top: 3%;
  padding-bottom: 3%;
}

.block5 > dl > dt {
  font-style: italic;
  font-weight: bold;
}

.block6 > h3 {
  text-align: center;
}

.block6 {
  height: 400px;
}

table {
  width: 55%;
  height: 70%;
  margin: auto;
  border-radius: 15px;
}

tr {
  background-color: rgb(235, 230, 230);
  border-radius: 15px;
  color: black;
  text-align: center;
  transition: transform 0.5s ease;
}

th,
td {
  border-radius: 10px;
}

.price,
.total {
  background-color: rgba(14, 14, 61, 0.842);
  width: 100%;
  height: 15%;
  color: lightgray;
}

.td-1 {
  text-align: left;
  font-size: 20px;
  letter-spacing: 1px;
}

.td-even {
  background-color: lightgray;
}

.block7 {
  font-size: 25px;
  height: 400px;
  margin-left: 2%;
}

.block7 > address > a,
.block7 > address {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 2px 2px 5px whitesmoke;
}

.block7 > h3 {
  font-size: 30px;
  text-shadow: 0px 0px 3px whitesmoke;
}

.block7 > address > img {
  margin-top: 15px;
}

.pic5,
.pic6,
.pic7 {
  width: 5%;
  margin-right: 1%;
  transition: transform 0.5s ease;
}

.block7 {
  margin-top: 10%;
  margin-bottom: 0;
}

.nav > ul {
  list-style: none;
  text-align: center;
}

.nav > ul > li {
  display: inline-block;
  color: white;
  margin: 3%;
}

.nav {
  margin-top: 7%;
}

.nav > h4 {
  text-align: center;
}

/*******************************************************************************************************************
css code for NorthernLights.html & hiking.html
*******************************************************************************************************************/

.northern-lights-body,
.hiking-body {
  margin: 0;
  background-color: #292e38;
}

.northern-lights-h1,
.hiking-h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 355%;
  text-shadow: 2px 2px 7px rgb(51, 197, 185);
}

.northern-lights-block1,
.hiking-block1 {
  height: 300px;
  margin-bottom: 4%;
  margin-top: 3%;
}

.northern-lights-divider,
.hiking-divider {
  margin-bottom: 100px;
  margin-top: 20px;
}

.northern-lights-block1 > img,
.hiking-block1 > img {
  margin: 0;
  margin-left: 3%;
  margin-right: 3%;
  width: 28%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgb(33, 206, 197);
  transition: transform 0.5s ease;
}

.northern-lights-block1 > img:hover,
.hiking-block1 > img:hover {
  box-shadow: 5px 5px 5px rgb(33, 206, 197);
}

.northern-lights-pic1,
.hiking-pic1 {
  float: left;
}

.northern-lights-block1 > .northern-lights-p1,
.hiking-block1 > .hiking-p1 {
  border: 2px solid rgb(78, 241, 214);
  margin-top: 0;
  width: 30%;
  height: 67%;
  float: left;
  text-align: center;
  padding-top: 7%;
  border-radius: 25px;
  box-shadow: 3px 3px 4px rgb(52, 102, 209);
  transition: transform 0.5s ease;
}

.northern-lights-block1 > .northern-lights-p1:hover,
.hiking-block1 > .hiking-p1:hover {
  box-shadow: 5px 5px 5px rgb(52, 102, 209);
}

.northern-lights-pic2,
.hiking-pic2 {
  margin-left: 85%;
}

.northern-lights-block2,
.hiking-block2 {
  height: 100%;
  text-align: center;
  line-height: 24px;
  border-radius: 25px;
  padding-bottom: 1%;
  width: 80%;
  margin: auto;
  background-color: #35373a;
  box-shadow: 3px 3px 5px rgb(33, 206, 197);
  transition: transform 0.5s ease;
}

.northern-lights-block2 > p,
.hiking-block2 > p {
  padding-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

/*******************************************************************************************************************
css code for contact.html
*******************************************************************************************************************/
.contact-form {
  width: 40%;
  margin-left: 50%;
  height: 500px;
}

.contact-form > form {
  text-align: left;
  margin-top: 10%;
  filter: opacity(90%);
}

.contact-form > form > input {
  transition: transform 0.5s ease;
}

.contact-form > form > input,
.contact-form-button {
  margin: 2%;
  width: 65%;
  padding: 3%;
  border-radius: 25px;
  border: 1px solid lightgray;
}

.contact-form > form > textarea {
  margin-left: 2%;
  margin-top: 2%;
  width: 65%;
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 3%;
  transition: transform 0.5s ease;
}

.contact-form-button {
  width: 72%;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  background-image: linear-gradient(
    to right,
    rgb(186, 105, 240),
    rgb(55, 172, 211)
  );
  color: white;
  text-shadow: 0px 0px 3px gray;
  transition: transform 0.5s ease;
}

.contact-h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px gray;
}

.contact-pic1 {
  width: 25%;
  float: left;
  margin-left: 17%;
  margin-top: 7%;
  filter: opacity(70%);
}

.contact-pic1 > img {
  width: 100%;
  filter: opacity(80%);
  transition: transform 0.5s ease;
}

.contact-nav > ul {
  list-style: none;
  text-align: center;
}

.contact-nav > ul > li {
  display: inline;
  color: white;
  margin: 3%;
  font-size: 180%;
}

.contact-nav {
  margin-top: 13%;
}

.contact-nav > h4 {
  text-align: center;
}

.contact-nav,
.nav {
  background-image: linear-gradient(
    180deg,
    rgb(71, 80, 122),
    rgb(79, 178, 211)
  );
  height: 400px;
}

.contact-nav-button {
  margin-top: 5%;
  margin-bottom: 4%;
  text-align: center;
  width: 18%;
  padding: 1%;
  font-size: 20px;
  border-radius: 13px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-shadow: 0px 0px 2px lightgray;
  transition: transform 0.5s ease;
}

.contact-nav-button:hover {
  background-color: rgb(73, 135, 207);
}

.contact-nav > h4 {
  color: whitesmoke;
}

.contact-body {
  margin: 0;
  background-image: url("./images/photos/contact-us-background-image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}
