


/* MY CSS CODE */
/* ***************************************** */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --whiteColor: rgb(255, 255, 255);
  --lightColor: hsl(252, 30%, 95%);
  --grayColor: hsl(252, 15%, 65%);
  --primaryColor: hsl(252, 75%, 60%);
  --secondaryColor: hsl(252, 100%, 90%);
  --successColor: hsl(120, 95%, 65%);
  --dangerColor: hsl(0, 95%, 65%);
  --darkColor: hsl(252, 30%, 17%);
  --blackColor: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --button-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}


body {
  font-family: "Poppins", sans-serif;
  color: var(--darkColor);
  background-color: var(--lightColor);
  overflow-x: hidden;
}

nav {
  width: 100%;
  background-color: var(--whiteColor);
  position: fixed;
  z-index: 10;
}

.block {
  width: 80%;
}

.nav-block {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav .search-bar {
  width: 35vw;
  background-color: var(--lightColor);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

nav .search-bar > input {
  background-color: transparent;
  width: 80%;
  margin: 0 0.5rem;
  font-size: 1rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

video {
  display: block;
  width: 100%;
}

.profile-pic {
  width: 3.5rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic-smaller {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.profile:hover {
  transform: scale(1.1);
}

/* Menu window section */
.main-container {
  margin: 0 auto;
  display: flex;
  vertical-align: top;
  justify-content: space-between;
}

.left-side {
  width: 20%;
  height: 90vh;
  margin-top: 5.7rem;
  padding-top: 0;
}

.middle {
  width: 55%;
  overflow-y: auto;
  height: 120vh;
  margin-top: 5.7rem;
  padding-top: 1rem;
  overflow-x: hidden;
}

.right-side {
  /* border: 2px solid blue; */
  width: 23%;
  height: 65vh;
  margin-top: 5.7rem;
  overflow-y: auto;
  padding: 0.5rem;
  background-color: var(--whiteColor);
  border-radius: 1rem;
}

.profile {
  border-radius: var(--card-border-radius);
  background-color: var(--whiteColor);
  padding: var(--card-padding);
  display: inline-block;
  margin-top: 0;
  height: 10rem;
  cursor: pointer;
}

/* Css for left side bar */

.side-bar {
  margin-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--whiteColor);
  transition: hover 5s ease;
  cursor: pointer;
}

.side-bar-links {
  margin: 1rem auto;
  text-align: left;
  padding: 0;
}

.side-bar-links:hover {
  background-color: rgb(77, 77, 236);
  color: var(--whiteColor);
}

.side-bar-links > a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  color: var(--darkColor);
}

.link-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.link-bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.createPostBtn {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  margin-top: 1rem;
  background-color: var(--primaryColor);
  cursor: pointer;
  box-shadow: 2px 2px 4px gray;
}

.createPostBtn > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: transparent;
  color: var(--whiteColor);
  cursor: pointer;
  text-align: center;
}

.createPostBtn:hover,
.post-btn:hover,
.post-comment:hover {
  background-color: darkblue;
}

/* css for middle media */
.stories {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  background-color: transparent;
  margin-bottom: 1rem;
}

.story-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.story {
  width: 18.67%;
  height: 100%;
  position: relative;
  background-color: transparent;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.1);
}

.story > p {
  position: absolute;
  bottom: 1rem;
  left: 0.3rem;
  color: rgb(238, 237, 237);
  margin-left: 0.5rem;
  font-size: 0.9rem;
  background-color: transparent;
  opacity: 80%;
}

.post-bar {
  position: relative;
  margin: 0 auto;
  align-items: center;
  display: flex;
  margin: 0.2rem;
  border-radius: var(--border-radius);
  height: 3.4rem;
  background-color: var(--whiteColor);
}

.post-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.5rem;
}

.post-bar > input {
  width: 30vw;
  padding: var(--search-padding);
  background-color: transparent;
  font-size: 1rem;
  margin-right: 2rem;
}

.post-btn {
  padding: 0.7rem 2.2rem;
  background-color: var(--primaryColor);
  border-radius: var(--border-radius);
  color: var(--whiteColor);
  margin-right: 0;
  font-size: 1rem;
  box-shadow: 3px 3px 6px gray;
  position: absolute;
  right: .5rem;
  cursor: pointer;
}

.post {
  width: 100%;
  margin-top: 1rem;
  background-color: var(--whiteColor);
  margin-bottom: 1rem;
  border-radius: 1rem;
}


.post-sizing {
  width: 95%;
}
.post-head {
  margin: 0.9rem auto;
  padding: 0.8rem 0;
  display: flex;
  gap: 1rem;
}

.name-time > p {
  font-size: 0.9rem;
  color: var(--grayColor);
}

.post-body {
  margin: auto;
  margin-top: 0.6rem;
}

.post-body > img,
.post-body > iframe {
  border-radius: 1rem;
}

.post-footer {
  margin: auto;
}

.post-icons {
  margin: 0.2rem 1.3rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.icon-1:hover,
.icon-2:hover,
.icon-3:hover {
  cursor: pointer;
}

#like-count{
  font-style: normal;
}

.post-liked-by {
  display: flex;
  position: relative;
}

.post-liked-by-img2,
.post-liked-by-img3 {
  position: absolute;
}

.post-liked-by-img2 {
  left: 0.8rem;
}

.post-liked-by-img3 {
  left: 1.7rem;
}

var {
  font-style: normal;
}

.post-liked-by > p {
  /* margin-left: 2.5rem; */
  
  font-weight: bold;
}

.post-caption {
  width: 90%;
  font-size: 0.9rem;
}

.view-all-comments {
  color: var(--grayColor);
  cursor: pointer;
}

.show-comments{
  display: none;
}

.add-comment{
  width: 100%;
  display: flex;
  margin: 0;
  padding: auto;
  justify-content: space-between;
  background-color: var(--whiteColor);
  border-radius: 1rem;
  padding: var(--search-padding);
}


.type-comment{
  width: 80%;
  padding: var(--search-padding);
  background-color: transparent;  
  margin: 0;
}

.post-comment{
  padding: 0.5rem 2rem;
  background-color: var(--primaryColor);
  border-radius: var(--border-radius);
  color: var(--whiteColor);
  margin-right: 0;
  font-size: 1rem;
  box-shadow: 3px 3px 6px gray;
  right: .5rem;
  cursor: pointer;
}

/* Css for right-side media */

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-header > i {
  font-size: 1.5rem;
}

.right-side > .search-bar {
  border-radius: 1rem;
  background-color: var(--lightColor);
  padding: 0.3rem 0.4rem;
  margin: 0.3rem;
}

.right-side > .search-bar > input {
  background-color: transparent;
}

.message-sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 0.2rem;
  margin-left: 1.2rem;
  margin-top: .9rem;
  cursor: pointer;
}

.message-section-selector{
  gap: .5rem;
}


.message-requests {
  color: var(--primaryColor);
}

.message-section-selector > div {
  height: 100%;
  width: 30%;
}



.message-section-selector {
  background-color: var(--lightColor);
  height: 0.2rem;
  display: flex;
  width: 100%;
}

.select-primary {
  background-color: var(--primaryColor);
}

.message-icon {
  float: left;
}

.message1 {
  margin: 0.5rem 0;
  cursor: pointer;
  overflow: hidden;
}

.message-profile-name {
  margin-top: .5rem;
  margin-left: 3.4rem;
  font-size: 0.9rem;
}

.message {
  margin-left: 3.4rem;
  font-size: 0.8rem;
}

.message1 > div {
  width: 3rem;
  margin: 0.3rem 0;
}

.message-icon1,
.message-icon4,
.message-icon3,
.message-icon6 {
  border: 2px solid rgb(118, 197, 0);
}

.general-messages-display{
  display: none;
}

.genMessageProfile{
  margin-top: .7rem;
}

/* CSS FOR POST MODAL WINDOW */
.post-modal-outter, .upload-status-modal-outter{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: hidden;
}

.post-modal-inner, .upload-status-modal-inner{
  background-color: var(--whiteColor);
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  border: 2px solid blue;
  overflow-x: hidden;
}




.upload-status, .upload-picture, .upload-video{
  width: 25%;
  height: 25%;
  text-align: center;
  margin: auto;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  font-size: 1rem;
  box-shadow: 2px 2px 4px var(--grayColor);
  overflow: hidden;
}

.upload-status:hover, .upload-picture:hover, .upload-video:hover, .close-post:hover{
  box-shadow: 4px 4px 9px gray;
  background-color: blueviolet;
  color: rgb(224, 222, 222);
  cursor: pointer;
}

.close-post{
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  margin: 5rem 10rem;
  width: 40%;
  font-size: 1.2rem;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  box-shadow: 2px 2px 4px var(--grayColor);
  margin: auto;
}

/* CSS FOR UPLOAD STATUS MODAL WINDOW */
.status {
  /* border: 2px solid blue; */
  width: 90%;
  height: 15%;
  border-radius: 1rem;
  background-color: var(--lightColor);
  margin: 2rem;
  font-size: 1.2rem;
  padding: var(--search-padding);
}

.upload-status-button {
  width: 30%;
  height: 15%;
  font-size: 1.2rem;
  padding: 1rem 1rem;
}

/* CSS FOR STATUS POST TEMPLATE */
.status-post-template{
  margin: 1rem auto; 
  background-color: var(--whiteColor);
  border-radius: 1rem;
  width: 100%;
  padding: 0;
  display: none;
}

.status-post-profile-pic{
  float: left;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: .2rem;
}

.status-info{
  margin-top: 1rem;
  margin-left: 1rem;
}















/* For Tablet screens */
/* ************************************************************************************************************* */
@media screen and (max-width: 1200px) {
 body{
     overflow-x: hidden;
 }

  nav .search-bar {
    width: 35vw;
  }

  .main-container {
    margin: 0 auto;
    display: flex;
    vertical-align: top;
    justify-content: space-between;
  }

  .block {
    width: 96%;
  }

  .side-bar-links > h3,
  .profile,
  .createPostBtn {
    display: none;
  }

  .side-bar {
    margin-top: 2rem;
    position: fixed;
    box-shadow: 5px 5px 5px rgb(131, 131, 131);
  }



  .middle {
    width: 60%;
    margin-top: 5.7rem;
    margin-right: 0;
  }

  .side-bar-links > i {
    font-size: 1.5rem;
  }

  .left-side {
    width: 8%;
  }

  .post-bar > input {
    width: 25vw;
    padding: var(--search-padding);
    background-color: transparent;
    font-size: 1rem;
    margin-right: 10.2rem;
  }

  .right-side {
    width: 28%;
  }

  /* CREATE POST */
  .post-modal-outter, .upload-status-modal-outter{
    width: 100%;
  }

  .post-modal-inner, .upload-status-modal-inner{
    width: 55%;
  }

}

/* For phone screens */
/* ************************************************************************************************************* */

@media screen and (max-width: 992px) {

    body{
        overflow-x: hidden;
    }

  nav .search-bar,
  .right-side {
    display: none;
  }


  .main-container {
    flex-direction: row-reverse;
    height: 150vh;
  }

  .stories {
    height: 20vh;
  }
  .left-side {
    width: 10%;
  }

  .side-bar {
    position: fixed;
    z-index: 10;
    bottom: 10rem;
    right: 0;
  }

  .side-bar-links > a {
    text-align: left;
    padding-left: -1rem;
  }

  .middle {
    width: 100%;
    margin-top: 6rem;
    margin-right: 0;
    height: 100%;
  }

  .post-bar > input {
    width: 60vw;
    padding: var(--search-padding);
    background-color: transparent;
    font-size: 1rem;
    margin-right: 2.6rem;
  }

  .side-bar {
    box-shadow: -5px 5px 5px rgb(131, 131, 131);
  }

  .post {
    margin: 0.5rem 0;
  }

  .post-modal-inner, .upload-status-modal-inner{
    width: 60%;
  }

  .upload-status, .upload-picture, .upload-video{
    font-size: 1rem;
    margin: auto;
    padding: 1.4rem .6rem;
    overflow: hidden;
  }
}
